
:root{
    --dark-color: #2E2F42;
    --text-color: #434455;
    --pressed-color: #404BBF;
    --primary-brand-color: #4D5AE5;
    --light-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --white-color: #ffffff;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --green-color: #31D0AA;
    --subtle-text-color: #8E8F99;
}

/* =============== Dropping styles ================ */

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--white-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* =============== Dropping styles ================ */

/* =============== Componetns ===================== */

.bg-dark {
    background-color: var(--dark-color);
}

.bg-light {
    background-color: var(--light-color);
}

.bg-white {
    background-color: var(--white-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

    text-align: center;

    color: var(--dark-color);
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;

    color: var(--dark-color);
}

.section-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;

    margin-top: 48px;

    letter-spacing: 0.04em;
    background: var(--primary-brand-color);
    color: var(--white-color);
}

.btn:hover,
.btn:focus {
    background: var(--pressed-color);
}

.btn-filter {
    border: none;
    border-radius: 4px;
    background: var(--light-color);
    color: var(--primary-brand-color);
    cursor: pointer;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-filter:hover {
    background: var(--pressed-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 120px 0;
}

/* =============== Componetns ===================== */

/* ================== Logo ======================== */
.logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        margin-right: 76px;
        text-transform: uppercase;
        color: var(--primary-brand-color);
}

.logo-header {
    color: var(--dark-color);
}

.logo-footer {
    color: var(--light-color);
}

/* Logo */

.menu-link {     
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark-color);
}

/* ================== Logo ======================== */

/* ================== Header ====================== */

.page-header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.contact-nav {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 46px;
}

/* ================== Header ====================== */

/* ============== Navigation Menu ================= */

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-color);
}

.contact-link {
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* margin-right: 40px; */
        color: var(--text-color);
}

.contact-info:not(:last-child) {
    margin-right: 40px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--pressed-color);
}

.current {
    color: var(--pressed-color)
}

/* ============== Navigation Menu ================= */

/* =================== Hero ======================= */

.hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero.bg-dark {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
        max-width: 498px;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        margin: 0 auto;

        color: var(--white-color);
}

/* =================== Hero ======================= */

/* ================== Our features ================ */

.features {
    padding-bottom: 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list .features-item {
    width: 264px;
}

.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--light-color);
    border-radius: 4px;
}

/* ================== Our features ================ */

/* ================== Activities ================== */

.activities {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* ================== Activities ================== */

/* ================= Our team ===================== */

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-card {
    flex-basis: calc((100% - 72px) / 4);

    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-content {
    padding: 32px 0;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: var(--primary-brand-color);
    color: var(--light-color);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--pressed-color);
}

/* ================= Our team ===================== */

/* =================== Footer ===================== */

.footer {
    padding: 100px 0;
}

.footer-description {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-top: 16px;

    color: var(--accent-color);
}

.footer .logo {
    margin-right: 0;
}

.flex-footer {
    display: flex;
}

.footer-media {
    margin-left: 120px;
}

.footer-social-list {
    display: flex;
   margin-top: 8px;
   gap: 16px;
}

.footer-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
    border-radius: 50%;

     background-color: var(--footer-icon-color);
     color: var(--light-color);
}
.footer-link:hover,
.footer-link:focus {
    background-color: var(--green-color);
}

.footer-icon {
    width: 24px;
    height: 24px;
}

.media {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

/* =================== Footer ===================== */

/* ================= Portfolio ==================== */

.portfolio {
    padding-top: 96px;
}

.filters-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-card {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
    padding: 32px 16px 32px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

/* ================= Portfolio ==================== */

/* ================= Customers ==================== */

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-brend-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--subtle-text-color);
    border: 1px solid var(--subtle-text-color);
    border-radius: 5px;
}

.customers-brend-link:hover,
.customers-brend-link:focus {
    color: var(--pressed-color);
    border: 1px solid var(--pressed-color);
}

.brand-icon {
    fill:currentColor;
}

/* ================= Customers ==================== */